{% extends 'base.html' %}

{% block headline %}Vanderbilt's Property Acquisitions{% endblock headline %}

{% block byline %}
  <a href="https://www.abhinavskrishnan.com/ " target="_blank">Abhinav Krishnan</a>
{% endblock byline %}

{% block pubdate %}
  <time datetime="2023-03-04" pubdate>Mar. 4, 2023</time>
{% endblock pubdate %}

{% block content %}

<section>
  <h3>Vanderbilt University's Properties Around Nashville</h3>
  <p>Vanderbilt owns at least {{ vanderbilt_properties|length }} properties in the Metro Nashville Area. Here are some of them: </p>
  <div class="row" data-masonry='{"percentPosition": true }'>

      {% for obj in vanderbilt_properties %}
      <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card">
        
        <div class="card-body">
          
            <strong>
                <h5 class="card-title">{{ obj.Location }}</h5>
            </strong>
          </a>
          <p class="card-text">is a {{ obj.Property_Use.toLowerCase()}} with a total value of {{ obj.Total_Appraisal_Value }}.</p>
        </div>
      </div>
      </div>
      {% endfor %}
  </div>
</section>

{% endblock content %}
